
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');



.titulo{
    font-size: 80px;
    margin-top: 100px;
    color: rgba(255, 255, 255, 0.87);;
}

.container{
    display: grid;
    grid-template-columns: auto 250px auto;
    grid-row: auto;
}

.card{
    margin-top: 50px;
    display: grid;
    grid-column: 2/3;
}

.cardBody {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.cardTitle {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
}

.divImagen{
    display: flex;
    justify-content: center;
}

.imagenVinilo{
    width: 200px;
    border-radius: 20px;
    justify-content: center;
}

.greeting{
    color: rgba(255, 255, 255, 0.728);
    margin-top: 50px;
    font-size: 70px;
    font-family: 'Martian Mono', monospace;
}